section {
    margin-bottom: 50px;
}

.select-con {
    display: inline-block;
}

.hidden {
    display: none;
}

.active {
    display: inline-block;
}

a {
    text-decoration: none;
    color: black;
}